# =============== #
# Unity generated #
# =============== #
/AmelosTask/Temp/
/AmelosTask/Library/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/AmelosTask/ExportedObj/
/AmelosTask/obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
/AmelosTask/UnityVS/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta